* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    font-size: 14px;
    color: #1f393c;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: .5rem;
    height: 100%;
    width: 100%;
    background: #fff;
}

.navbar {
    background: #fff;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar-toggler:focus {
    outline: none !important;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item .active {
    border-bottom: 3px solid #abce3d;
    font-weight: 600;
    color: #1f393c;
}

.nav-link {
    border-bottom: 1px solid #85858517;
}

.landing-page-container,
.what-do-we-do-container,
.how-it-works-container,
.gallery-container,
.benefits-container {
    width: 100%;
    height: 100%;
}

.landing-desc-wrapper {
    background: url("/img/landing-bg.png")no-repeat center;
    background-size: cover;
    height: 400px;
}

.quick-call {
    border: 1px solid #8585859d;
    border-radius: 20px;
}

.landing-title {
    font-size: 40px;
    font-weight: 700;
    background: transparent;
    width: 50%;
}

.tagline-title {
    font-weight: 700;
}

.benefits-container {
    padding: 2rem;
}

.benefits-wrapper {
    padding: 2rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn-primary {
    background: #abce3d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1f393c, #abce3d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1f393c, #abce3d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
    padding: 1rem;
    padding: 1rem;
    width: 200px;
}

.btn-primary,
.btn-secondary,
.btn-basic {
    font-size: 16px;
}

.btn-basic {
    background: none;
    border: 2px solid #1f393c;
    padding: 1rem;
    width: 150px;
}

.btn-secondary {
    background: none;
    color: #abce3d;
    border: 2px solid #abce3d;
    transition: all ease .3s;
    transition: background .6s;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background: #abce3d;
}

.what-do-we-do-header,
.how-it-works-header {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-it-works-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-container .latest-news-bg {
    background: url("/img/latest-news-bg.jpg")no-repeat center;
    background-size: cover;
    height: 400px;
}

.gallery-container .Our-team-bg {
    background: url("/img/our-team-bg.jpg") no-repeat center;
    background-size: cover;
    height: 400px;
}

.gallery-container .services-bg {
    background: url("/img/services-bg.jpg") no-repeat top;
    background-size: cover;
    height: 400px;
}

.latest-news-desc,
.our-team-desc,
.services-desc {
    width: 100%;
    height: 100%;
    background: rgba(11, 9, 32, 0.295);
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    width: 100%;
    height: 100%;
    background: #abce3d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(-135deg, #1f393c, #abce3d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-135deg, #1f393c, #abce3d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#footer .quick-links {
    display: flex;
    flex-direction: column;
}

#footer p {
    color: rgba(255, 255, 255, 0.603);
}

#footer .quick-links a,
#footer a {
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
}

.facebook-social,
.twitter-social,
.linkedin-social,
.instagram-social {
    width: 100%;
}

.facebook-social a:hover {
    color: #fff;
}

.facebook-social i,
.twitter-social i,
.linkedin-social i,
.instagram-social i {
    color: #fff;
    margin-right: .5rem;
}


/* about page styles */

.about-header,
.pricing-header,
.contacts-header,
.terms-header,
.services-header,
.blog-header,
.privacy-header {
    background: #abce3d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1f393c, #abce3d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1f393c, #abce3d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 2rem;
}

.about-header-links-wrapper,
.pricing-header-links-wrapper,
.contacts-header-links-wrapper,
.terms-header-links-wrapper,
.services-header-links-wrapper,
.blog-header-links-wrapper,
.privacy-header-links-wrapper {
    width: 50%;
    height: 50px;
    background: tranparent;
    display: flex;
    align-items: center;
}

.about-header-links-wrapper a,
.about-header-links-wrapper i,
.pricing-header-links-wrapper a,
.pricing-header-links-wrapper i,
.contacts-header-links-wrapper a,
.contacts-header-links-wrapper i,
.terms-header-links-wrapper a,
.terms-header-links-wrapper i,
.services-header-links-wrapper a,
.services-header-links-wrapper i,
.blog-header-links-wrapper a,
.blog-header-links-wrapper i,
.privacy-header-links-wrapper a,
.privacy-header-links-wrapper i {
    color: #fff;
    text-decoration: none;
}

.about-bg {
    background: url("/img/about-us.jpg") no-repeat center;
    background-size: cover;
    height: 400px;
}


/* pricing page styles */

.card {
    border-radius: 30px;
    box-shadow: 0px 4px 40px #1f393c2d;
}