* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.quick-actions-container {
    width: 100%;
    height: 10vh;
}

.contact-actions-wrapper {
    background: transparent;
    width: 30%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    width: 800%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.landing-page-container {
    width: 100%;
    height: 100vh;
    background: url("/img/landing-bg.jpg")no-repeat center;
    background-size: cover;
}